<?xml version="1.0" encoding="utf-8"?>
<config>

<fieldset name="accesscontrol" label="Permissions">
 
		<field name="asset_id" type="hidden" filter="unset" /> 
 
		<field
			name="rules"
			type="rules"
			label="Permissions"
			translate_label="false"
			filter="rules"
			validate="rules"
			class="inputbox"
			component="com_slicommentstodisqus"
			section="component" />
	</fieldset>
</config>
